<div gdAreas="header header | side content | footer footer" gdGap="16px" gdRows="auto auto auto"
    gdAreas.lt-md="header | side | content | footer" gdRows.lt-md="auto auto auto auto">
    <div gdArea="header">
        Header
    </div>
    <div gdArea="side">
        Side
    </div>
    <div gdArea="content" fxLayout="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
            fxLayoutAlign="center">
            <app-challenge-card [challenge]="challenge" fxFlex="20%"></app-challenge-card>
            <app-challenge-card [challenge]="challenge" fxFlex="20%"></app-challenge-card>
            <app-challenge-card [challenge]="challenge" fxFlex="20%"></app-challenge-card>
            <app-challenge-card [challenge]="challenge" fxFlex="20%"></app-challenge-card>
        </div>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
            fxLayoutAlign="center">
            <app-challenge-card [challenge]="challenge" fxFlex="20%"></app-challenge-card>
            <app-challenge-card [challenge]="challenge" fxFlex="20%"></app-challenge-card>
            <app-challenge-card [challenge]="challenge" fxFlex="20%"></app-challenge-card>
            <app-challenge-card [challenge]="challenge" fxFlex="20%"></app-challenge-card>
        </div>
        <div gdArea="footer">
            Footer
        </div>
    </div>
</div>